/* ============================== APP =========================*/
.App{
  height: 100vh;
  display: flex;
}
main{
  width: 85%;
  height: 100vh;
  box-sizing: border-box;
  padding: 2rem 0 0 2rem;
  overflow: hidden;
}