#homepage{
    height: -webkit-fill-available;
    display: flex;
    gap: 1rem;
}
#homepage #main-content{
    width: 70%;
    padding-left: 1rem;
}
#homepage #main-content #hero{
    height: 350px;
    border-radius: 2rem;
    background-image: url('./hero-background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
}
#homepage #main-content #hero h2{
    font-size: 2.5rem;
}
#homepage #main-content #hero>div{
    width: 50%;
    height: 100%;
}
#homepage #main-content #hero #hero-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#homepage #main-content #hero #hero-content>div{
    display: flex;
    gap: 1rem;
}
#homepage #main-content #hero #hero-content>div a{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}
#homepage #main-content #hero #hero-content>div a:first-child{
    background-color: var(--white);
    color: #000;
    font-weight: bold;
}
#homepage #main-content #hero #hero-image{
    background-image: url('./hero-img.jpg') ;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
#homepage #trending>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#homepage #trending>div:first-child ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
:is(#left-arrow,#right-arrow){
    position: absolute;
    padding: 1rem;
    background-color: var(--color-bg);
    cursor: pointer;
}
#categories-container{
    display: flex;
    overflow: hidden;
    width: 40%;
}
#left-arrow{
    display: none;
}

#right-arrow{
    right: 0;
}
#homepage #trending>div:first-child ul li button{
    padding: 1rem;
    background-color: transparent;
    color: var(--text-grey);
    border: 0;
    cursor: pointer;
}
#homepage #trending>div:first-child ul li button.active-category{
    color: var(--white);
    border-bottom: 1px solid var(--color-blue);
}
#homepage #trending-nfts>ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
#homepage #trending-nfts>ul>li{
    background-color: var(--color-grey);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}
#homepage #trending-nfts ul>li .nft-image{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: flex-end;
}
#homepage #trending-nfts ul>li .nft-image>div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    position: absolute;
    cursor: pointer;
}
#homepage #trending-nfts ul>li .nft-image>div.liked{
    color: red;
}
#homepage #trending-nfts ul>li .nft-description{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#homepage #trending-nfts>ul>li .nft-description>div:first-child{
    display: flex;
    flex-direction: column;
    gap: 0.75;
    font-size: 1.25rem;
}
#homepage #trending-nfts>ul>li .nft-description>div:last-child{
    background-color: var(--text-grey);
    font-size: 0.75rem;
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
    place-content: center;

}
#homepage #trending-nfts>ul>li .bids-list{
    width: 100%;
}
#homepage #trending-nfts>ul>li .bids-list>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#homepage #trending-nfts>ul>li .bids-list>li .bid-bidder, #homepage #trending-nfts>ul>li .bids-list>li .bid-price{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#homepage #trending-nfts>ul>li .bids-list>li .bidder-info>p:first-child, #homepage #trending-nfts>ul>li .bids-list>li .bid-price .bid-pricing>p:first-child{
    font-size: 0.75rem;
    color: var(--text-grey);
}
#homepage #trending-nfts>ul>li .bids-list>li .bid-bidder .bidder-image, #homepage #trending-nfts>ul>li .bids-list>li .bid-price .bid-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: end end;
    color: var(--color-blue);
}
#homepage #trending-nfts>ul>li>div:last-child{
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: var(--color-blue);
    cursor: pointer;
}
#homepage #side-bar{
    width: 30%;
    background-color: var(--color-grey);
    border-top-left-radius: 2rem;
}