header{
    padding: 1rem;
    display: flex;
    gap: 3rem;
}
header #search-bar{
    width: 70%;
    background-color: var(--color-grey);
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}
header #search-bar>*{
    background-color: transparent;
    border: 0;
    color: var(--text-grey);
}
header #search-bar input{
    width: -webkit-fill-available;
}
header #search-bar input:focus{
    outline: none;
}
header #search-bar input::placeholder{
    color: var(--text-grey);
}
header #settings{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
header #notifications{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-grey);
    display: grid;
    place-content: center;
    cursor: pointer;
}
header #notifications>div {
    position: relative;
}

header #notifications i {
    font-size: 1.5rem;
}

header #notifications>div>div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:rgba(255,0,0,0.8);
    display: grid;
    place-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 0.625rem;
}
header #profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
header #profile #profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}