#searchpage{
    height: -webkit-fill-available;
    display: flex;
    gap: 1rem;
}
#searchpage #main-content{
    width: 70%;
    padding-left: 1rem;
    overflow-y: auto;
    padding-bottom: 6rem;
}

#searchpage #trending>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#searchpage #trending>div:first-child ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
:is(#left-arrow,#right-arrow){
    position: absolute;
    padding: 1rem;
    background-color: var(--color-bg);
    cursor: pointer;
}
#categories-container{
    display: flex;
    overflow: hidden;
    width: 40%;
}
#left-arrow{
    display: none;
}

#right-arrow{
    right: 0;
}
#searchpage #trending>div:first-child ul li button{
    padding: 1rem;
    background-color: transparent;
    color: var(--text-grey);
    border: 0;
    cursor: pointer;
}
#searchpage #trending>div:first-child ul li button.active-category{
    color: var(--white);
    border-bottom: 1px solid var(--color-blue);
}
#searchpage #trending-nfts>ul, #searchpage #searchPage>ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
#searchpage #trending-nfts>ul>li,#searchpage #searchPage>ul>li{
    background-color: var(--color-grey);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}
.nft-image{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: flex-end;
}
.nft-image>div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    cursor: pointer;
}
.nft-image>div.liked{
    background-color: rgba(255, 0, 0, 0.5);
}
.nft-description{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nft-description>div:first-child{
    display: flex;
    flex-direction: column;
    gap: 0.75;
    font-size: 1.25rem;
}
.nft-description>div:last-child{
    background-color: var(--text-grey);
    font-size: 0.75rem;
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
    place-content: center;

}
 .bids-list{
    width: 100%;
}
 .bids-list>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bid-bidder, .bid-price{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.bidder-info>p:first-child, .bid-pricing>p:first-child{
    font-size: 0.75rem;
    color: var(--text-grey);
}
.bidder-image, .bid-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: end end;
    color: var(--color-blue);
}
#searchpage #trending-nfts>ul>li>div:last-child,#searchpage #searchPage>ul>li>div:last-child{
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: var(--color-blue);
    cursor: pointer;
}
#searchpage #side-bar{
    width: 30%;
    background-color: var(--color-grey);
    border-top-left-radius: 2rem;
}