#side-bar{
    padding: 2rem 1rem;
}
#side-bar #favourites{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#side-bar #favourites a{
    color: var(--text-grey);
    font-size: 1.25rem;
}

#side-bar #creators-list{
    display: flex;
    flex-direction: column;
    gap: 2rem
}
#side-bar #creators-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#side-bar #creators-list li>div:first-child{
    display: flex;
    gap: 1.5rem;
}
#side-bar #creators-list li>div:first-child .creator-image{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    color: var(--color-blue);
    display: grid;
    place-content: end end;
}
#side-bar #creators-list li>div:first-child .creator-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#side-bar #creators-list li>div:first-child .creator-info .creator-tag{
    color: var(--text-grey);
    font-size:0.75rem;
}
#side-bar #creators-list li .follow{
    padding:1rem 2rem;
    border-radius: 2rem;
    background-color: var(--color-blue);
    display: grid;
    place-content: center;
    cursor: pointer;
}
#side-bar #creators-list li .following{
    padding:1rem 2rem;
    border-radius: 2rem;
    background-color: var(--white);
    color: var(--color-blue);
    display: grid;
    place-content: center;
    cursor: pointer;
}
