#side-bar{
    padding: 2rem 1rem;
    overflow: auto;
}
#side-bar #favourites{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#side-bar #favourites a{
    color: var(--text-grey);
    font-size: 1.25rem;
}

:is(#creators-list,#favorites-list){
    display: flex;
    flex-direction: column;
    gap: 2rem
}

:is(#creators-list li,#favorites-list li){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:is(#creators-list li>div:first-child,#favorites-list li>div:first-child){
    display: flex;
    gap: 1.5rem;
}
#favorites-list li>div:first-child .favorite-img{
    width: 75px;
    height: 75px;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}
#favorites-list li>div:first-child .favorite-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
#favorites-list li>div:first-child .favorite-info>p:last-child, #favorites-list li .favorite-date{
    color: var(--text-grey);
    font-size: 0.875rem;
}
#side-bar #creators-list li>div:first-child .creator-image{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    color: var(--color-blue);
    display: grid;
    place-content: end end;
}
#side-bar #creators-list li>div:first-child .creator-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#side-bar #creators-list li>div:first-child .creator-info .creator-tag{
    color: var(--text-grey);
    font-size:0.75rem;
}
#side-bar #creators-list li .follow{
    padding:1rem 2rem;
    border-radius: 2rem;
    background-color: var(--color-blue);
    display: grid;
    place-content: center;
    cursor: pointer;
}
#side-bar #creators-list li .following{
    padding:1rem 2rem;
    border-radius: 2rem;
    background-color: var(--white);
    color: var(--color-blue);
    display: grid;
    place-content: center;
    cursor: pointer;
}
#side-bar #copyright{
    margin-block: 3rem;
    text-align: center;
    font-size: 0.875rem;
    color: var(--text-grey);
}

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--color-blue);
    opacity: 0.5;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-grey);
    border-radius: .5rem;
    opacity: 0.3;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-grey);
}